ADMIN_EMAIL=mathguru498@gmail.com
ADMIN_PASSWORD=Hars@7880

EMAIL_USER=mathguru498@gmail.com
EMAIL_PASS=Harshit7880431506

JWT_SECRET=HarshitMathsGuru2026@Secret

OPENROUTER_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6J0cdJ-W4I8y0OV17wq9nS3OngCOg7BLUmdCb-dSN2oiw
GROQ_API_KEY=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
SAMBANOVA_API_KEY=13262e80-8fdb-440d-90e8-b0494df18bb2
